<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingreso Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form>
    <div>

      <ion-item>
        <ion-label position="floating">Nombres:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellidos:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nacionalidad :</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cedula/DNI:</ion-label>
        <ion-input></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Activar Geolocatizacion: </ion-label>
        <ion-spinner name="bubbles" *ngIf="cargandogeo"></ion-spinner>
        <ion-toggle  (ionChange)="acticarGelocalixacion()"></ion-toggle>
      </ion-item>

    </div>





  </form>

</ion-content>